/* Navigation Bar styling starts here */


ul, li {
  margin: 0;
  padding: 0;
  padding-top: 0.7em;
  list-style: none;
}

/* Style the navbar */
.navbar {
  background-color: #333;  
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 4em;
  border-radius: 3em;
  text-align: center;
}

/* Style the navbar links */
.navbar ul {
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 100px; /* Adjust the margin as needed */
}

.navbar li:nth-of-type(1) {
  margin-right: auto; 
}

.navbar a {
  text-decoration: none;
  color: #fff; 
  font-weight: bold;
  font-size: 18px; 
}

.navbar a:hover {
  color: #ff6600; /* Change the text color on hover as needed */
}
/* Navigation Bar styling ends here */


/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(86, 213, 213);
}


.project {
  text-align: center;
  margin-bottom: 40px;
}



footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.project img {
  height: 30%;
  width: 30%;

}
.introduction {
  padding: 20%;
  text-align: center;
  font-size: 3em;
}